body {
  background-color: #f9f9f9;
  font-family: Verdana, sans-serif;
}

form {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 50%;
  }






.containe{
    display: flex;
    justify-content: center;

}

.livraison-info {
  padding: 40px 20px;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

.livraison-info table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 90%;
  max-width: 600px;
}

.livraison-info th,
.livraison-info td {
  border: 1px solid #ddd;
  padding: 12px;
}

nav a:hover {
  background-color: red;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(220, 20, 60, 0.4);
}

.livraison-info th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.livraison-info tbody tr:nth-child(even) {
  background-color: #fafafa;
}

h2{
    text-align: center;
}
#strong{
    font-size: 20px;
}

nav {
  color: rgb(8, 7, 7);
  display: flex;
  justify-content: space-between;
  align-items: center; 
  gap: 0px; 
  position: fixed; /* Rend l'élément fixe par rapport à la fenêtre de visualisation */
  top: 0;          /* Le colle au bord supérieur de la fenêtre */
  left: 0;         /* Le colle au bord gauche de la fenêtre */
  width: 100%;     /* Fait en sorte qu'il occupe toute la largeur */
  z-index: 1000;   /* S'assure qu'il est au-dessus des autres éléments (valeur élevée) */
  background-color: #ffffff; 
  padding: 5px 0; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 

 
}

body, html {
  margin: 75;
  
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 4px 8px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 50px;
  text-align: left;
  padding-left: 50px;
  margin-top: -20px;
  
}

.menu li a {
  color: rgb(14, 8, 8);
  text-decoration: none;
  font-weight: 500;
}